registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-dcloud

_auth = Z3VpbjpBS0NwNWNjNno5aUYyeVp0ZFp1REx3Y3B0VkpBRFBzb1JnaWhYdnd0YmVXTWY4c3dxTmMzb0dwRUh0N1ZldmNpZ0xZc2hzaWNN
always-auth = true
email = guin@adobe.com

@react:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-react-release/
@spectrum:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-spectrum-snapshot/
